@use "variables" as vars;
@use "mixins" as mxns;

.step-one {
  &__input {
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    border: 1px solid vars.$pastel-blue;
    margin-bottom: 0.93rem;
    font-weight: 700;
    color: vars.$marine-blue;
    &::placeholder {
      font-size: 0.93rem;
      font-weight: 500;
      font-family: Ubuntu, sans-serif;
      color: vars.$cool-gray;
    }
    &:hover {
      border: 1px solid vars.$purplish-blue;
    }
  }
  &__label {
    color: vars.$marine-blue;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
  }
  &__error-text {
    color: vars.$strawberry-red;
    font-weight: 500;
  }
}
.personal-info {
  border: none;
  padding: 0;
}
.input-error {
  @include mxns.shake-animation;
  animation: shake 0.3s;
  border-color: vars.$strawberry-red;
}

@media (min-width: vars.$desktop-xl) {
  .step-one {
    &__label {
      margin-bottom: 0.5rem;
    }
    &__input {
      margin-bottom: 1.61rem;
      padding: 0.95rem 1rem;
      font-size: 1rem;
      &::placeholder {
        font-size: 1rem;
      }
    }
  }
}
